body{
    font-family: 'PT Serif', serif;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

a:hover{
    color:grey;
}

.bg-yellow{
    background-color: #ffc017;
}

.bg-bottom-dark{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.main-container{
    margin-top: 100px;
}
.aside-buttons li{
    margin-bottom: 10px;
}

.navbar-brand{
    font-size: 1.6rem;
}

.border-top-dark{
    border-top: 1px solid rgba(230, 230, 230, 1);
}

.fa-star:hover{
    color:gold;
}

.fa-bookmark:hover{
    color: black;
}